* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Neucha", cursive;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin: 0;
  background-repeat: no-repeat;

  animation: background-animation 13s alternate infinite;
  transition: background 4.5s ease-in-out;
}

@keyframes background-animation {
  0% {
    background-size: 120%;
  }
  100% {
    background-size: 110%;
  }
}

.container-for-squares {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 730px;
  margin-left: 50px;
}

.square {
  width: 25px;
  height: 25px;
  background-color: rgb(65, 65, 65);
  margin: 2px;
  box-shadow: 0 0 2px black;
  transition: 3.5s;
}

.square:hover {
  transition-duration: 0s;
}

.wrapper-playlist {
  position: relative;
  width: 440px;
  height: 620px;
  margin-right: 60px;
}

#icon-playlist-block {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
  width: 65px;
  height: 65px;
  background-color: rgba(228, 211, 211, 0.493);
}

.text-playlist {
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
  padding: 4px;
}

#icon-playlist {
  display: block;
  width: 50px;
  height: 50px;
  text-align: right;
  cursor: pointer;
}

.playlist-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.playlist {
  width: 77%;
  margin-top: 15px;
  padding: 30px;
  background-color: rgba(78, 83, 83, 0.63);
  display: none;
  box-shadow: 2px 3px 4px rgb(0, 0, 0), -2px -3px 3px rgba(0, 0, 0, 0.644);
}

.playlist__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}

.playlist__img-title {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0;
  box-shadow: 0 0 2px black;
}

.playlist__audio-title {
  width: max-content;
  font-size: 24px;
  cursor: pointer;
  padding: 4px;
  margin: 14px auto;
  position: relative;
}

.playlist__audio-title:hover {
  background-color: rgba(221, 210, 197, 0.24);
}

.playlist__audio-title.active::before {
  content: " ";
  position: absolute;
  background-image: url(./playlist/img-playlist/selected-sound.png);
  background-size: cover;
  width: 25px;
  height: 25px;
  left: -35px;
}

@media all and (max-width: 1350px) {
  .container-for-squares{
    max-width: 515px;
  }
}
